# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/uiDesigner.xml
.idea/workspace.xml
springmvc.iml
target/
/.idea/vcs.xml
